.App {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type="text"],
.intl-tel-input.allow-dropdown input[type="tel"] {
  height: 2.5rem;
  width: 29.5rem;
  border-radius: 5px;
  border: 1px solid rgb(182, 181, 181);
  margin-top: 1.5rem !important;
}
